    <%- include ('partials/_header.ejs') -%> 

        <div class="container">
            <ul>

               <a href="/admin/login">
                <li>Login</li>
               </a>

               <a href="/admin/register">
                <li>Register</li>
               </a>

               <a href="/admin/forget-password">
                <li>Forget-password</li>
               </a>

            </ul>
        </div>




    <%- include ('partials/_footer.ejs') -%> 